.main-container-actividades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titulo-actividades {
    h1 {
        font-size: 80px;
    }
}

.main-section-actividades {
    display: flex;
    justify-items: center;
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
}

.main-section-actividades2 {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    display: none;
}

.container-actividades {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 16px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    margin: 10px;

    img {
        width: 100%;
        height: 280px;
        border-radius: 5px 5px 0px 0px;
        object-fit: cover;
    }

    article {
        padding: 5px;
        text-align: center;
        font-size: 10px;
        color: white;
    }
}


.text1 {
    background-color: rgb(16, 16, 19);
    margin-top: -2px;
    padding: 5px;
    height: 160px;


    h2 {
        color: white;
        padding-top: 5px;
        text-align: center;
    }
}

.boton_reserva {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: -2px;

    &:hover {
        background-color: #45a049;
    }

}





@media (min-width: 768px) and (max-width: 1023px) {

    .main-section-actividades {
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    h2 {
        padding: 5px;
        font-size: 12px;
    }

    .text1 {
        article {
            font-size: 9px
        }

        padding: 1px;

    }

    .container-actividades {

        width: 300px;

        img {
            width: 100%;
            height: 200px;
            border-radius: 5px 5px 0px 0px;
            object-fit: cover;
        }

        h3 {
            padding: 10px;
            text-align: center;
            font-size: 10px;
            color: white;
        }
    }



}

@media (max-width: 768px) {


    .container-actividades-carousel {
        display: flex;
        flex-direction: column;
        width: 100%;


        img {
            width: 100%;
            height: 280px;
            border-radius: 5px 5px 0px 0px;
            object-fit: cover;
        }

        article {
            padding: 5px;
            text-align: center;
            font-size: 10px;
            color: white;
            width: 100%;
        }
    }

    .main-section-actividades {

        display: none;
    }

    .main-section-actividades2 {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .item {
        padding: 50px;
    }


    .image1 {
        width: 100%;
    }

    .text1 h3 {
        font-size: 10px
    }

    .titulo-carousel {
        background-color: black;
        padding: 20px;
        color: white;

    }

    .titulo-actividades {

        h1 {
            display: none;
        }
    }

}