.main-container-contacto {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}


.container-contacto {
    font-family: 'Roboto Mono', monospace;
    background-color: $base-color;
    margin: 20px;
    padding: 40px;
    width: 50%;
}

.contacto-map {
    background-color: $base-color;
    margin: 20px;
    padding: 40px;
    width: 50%;
}

.titulo-contacto {
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    background-color: $base-black;
    color: white;
    width: 30%;
    padding: 15px;
    border-radius: 6px;
 
}

h1 {
    text-align: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

label {
    margin-top: 10px;

}

input,
textarea {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid $base-color;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: $base-black;
    cursor: pointer;
    border-radius: 6px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}

input[type="submit"]:hover {
    background-color: #45a049;
  
}



.main-section-contacto {
    display: flex;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    justify-content: center;

}

textarea {
    height: 150px;
}


@media (max-width: 768px) {

    .container-contacto {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .main-section-contacto {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .main-container-contacto {
        margin: 20px;
        justify-content: center;
    }

    .contacto-map {
        background-color: $base-color;
        margin: 0px 0px 10px 0px;
        padding: 0px;
        width: 100%;
        height: 300px;
    }

    
    .titulo-contacto {
        font-size: 30px;
        font-family: 'Roboto Mono', monospace;
        padding: 5px 0px 0px 0px;
        border-radius: 6px 6px 0px 0px;
        margin-bottom: 5px;
        width: 100%;
    }

}