.main-container-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/beach3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    }



.body-ofertas {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #fff;
}


.body-vuelos {
    background-image: none;
}

.body-contacto {
    background-image: none;
}

.main-section {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    grid-area: main;
    width: 100%;
    height: auto;
    place-self: center;
    align-items: center;
    justify-content: center;
    margin: 230px;

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        // color: #724747;
        color: #9D0208;
        font-size: 202px;
        text-align: center;
    
    
    }
}

.titulo-destino {
    margin-top: 90px;
}

.button {
    padding: 20px;
    background-color: #8c1c1c;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    width: 150px;
    text-align: center;

    &:hover {
        background-color: #DC2F02;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .main-section h1 {
        font-family: 'Bebas Neue', sans-serif;
        color: #724747;
        font-size: 150px;
        text-align: center;
    }

    .main-container-index{
        margin: 0px;
        padding: 0px;
        gap: 0px;
    }
}

@media (max-width: 768px) {

    .main-container-index{
        height: 100%;
    }
    .main-section h1 {
        font-size: 100px;
    }
    .button {
        padding: 15px;
    }
    .checkbtn {
        display: block;
    }
}