.main-container-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsla(37, 49%, 92%, 1);
    background: linear-gradient(90deg, hsla(37, 49%, 92%, 1) 0%, hsla(33, 32%, 56%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(37, 49%, 92%, 1) 0%, hsla(33, 32%, 56%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(37, 49%, 92%, 1) 0%, hsla(33, 32%, 56%, 1) 100%);
    
}



.body-ofertas {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #fff;
}


.body-vuelos {
    background-image: none;
}

.body-contacto {
    background-image: none;
}

.main-section {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 0px 0px;
    font-family: 'Roboto Mono', monospace;
    width: 45%;
    height: auto;
    place-self: center;
    align-items: center;
    justify-content: center;
    margin: 230px;
    border-left :1px groove $base-black;
    border-bottom :1px groove $base-black;
    padding: 10px 10px 25px 10px;


    h1 {
        font-family: 'Bebas Neue', sans-serif;
        color: $base-black;
        font-size: 202px;
        text-align: center;
        transition: color 3s;

        &:hover{
            color: #8c1c1c;
        }
    }

}



.titulo-destino {
    margin-top: 90px;
}

.button {
    padding: 20px;
    background-color: #8c1c1c;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    width: 150px;
    text-align: center;

    &:hover {
        background-color: #DC2F02;
    }
}


// Media query tablet 

@media (min-width: 768px) and (max-width: 1023px) {

    .main-section h1 {
        font-family: 'Bebas Neue', sans-serif;
        color: $base-black;
        font-size: 150px;
        text-align: center;
    }

    .main-container-index {
        margin: 0px;
        padding: 0px;
        gap: 0px;
    }
}


// Media query celular 

@media (max-width: 768px) {

    .main-container-index {
        height: 100%;
    }

    .main-section h1 {
        font-size: 100px;
    }

    .button {
        padding: 15px;
    }

    .checkbtn {
        display: block;
    }
}